[Unit]
Description=Ejecutar copia de todas las distribuciones activas
After=local-fs.target postgresql.service
Requires=postgresql.service

[Service]
Type=oneshot
ExecStart=/usr/bin/php /srv/app/www/sync/scripts/distribucion_copiar.php
User=root
WorkingDirectory=/srv/app/www/sync
TimeoutStartSec=600
StandardOutput=journal
StandardError=journal
SyslogIdentifier=distribucion-copiar

[Install]
WantedBy=multi-user.target
